menu "models: battery_yolo"
    config FLASH_BATTERY_YOLOV8N_224_S8
        bool "flash battery_yolov8n_224_s8"
        depends on !BATTERY_YOLO_MODEL_IN_SDCARD
        default y

    choice
        prompt "default"
        default BATTERY_YOLOV8N_224_S8
        help
            default battery_yolo model
        config BATTERY_YOLOV8N_224_S8
            bool "battery_yolov8n_224_s8"
            depends on BATTERY_YOLO_MODEL_IN_SDCARD || FLASH_BATTERY_YOLOV8N_224_S8
    endchoice

    config DEFAULT_BATTERY_YOLO_MODEL
        int
        default 0 if BATTERY_YOLOV8N_224_S8

    choice
        prompt "model location"
        default BATTERY_YOLO_MODEL_IN_FLASH_RODATA
        help
            battery_yolo model location
        config BATTERY_YOLO_MODEL_IN_FLASH_RODATA
            bool "flash_rodata"
        config BATTERY_YOLO_MODEL_IN_FLASH_PARTITION
            bool "flash_partition"
        config BATTERY_YOLO_MODEL_IN_SDCARD
            bool "sdcard"
    endchoice

    config BATTERY_YOLO_MODEL_LOCATION
        int
        default 0 if BATTERY_YOLO_MODEL_IN_FLASH_RODATA
        default 1 if BATTERY_YOLO_MODEL_IN_FLASH_PARTITION
        default 2 if BATTERY_YOLO_MODEL_IN_SDCARD

    config BATTERY_YOLO_MODEL_SDCARD_DIR
        string "battery_yolo model sdcard dir"
        default "models/s3" if IDF_TARGET_ESP32S3
        default "models/p4" if IDF_TARGET_ESP32P4
        depends on BATTERY_YOLO_MODEL_IN_SDCARD
        help
            Directory of models relative to sdcard mount point.
endmenu
